In [1]:
import pandas as pd
import numpy as np

from datetime import datetime

%matplotlib inline

pd.set_option('display.max_rows', 1000)

# Johns Hopkins GITHUB csv data

In [2]:
data_path='../data/raw/COVID-19/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'
pd_raw=pd.read_csv(data_path)
pd_raw.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/29/22,5/30/22,5/31/22,6/1/22,6/2/22,6/3/22,6/4/22,6/5/22,6/6/22,6/7/22
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,180174,180259,180347,180419,180520,180584,180615,180615,180688,180741
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,276101,276101,276101,276221,276221,276310,276342,276401,276415,276468
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,265873,265877,265884,265887,265889,265889,265889,265897,265900,265904
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,42894,42894,42894,42894,42894,43067,43067,43067,43067,43067
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,99527,99761,99761,99761,99761,99761,99761,99761,99761,99761

**NOTES**<br>
In above table we can see that Dates are taken as columns<br>
Primary keys/ Identifiers: Province, country, dates

In [3]:
pd_raw.columns[:]

Index(['Province/State', 'Country/Region', 'Lat', 'Long', '1/22/20', '1/23/20',
       '1/24/20', '1/25/20', '1/26/20', '1/27/20',
       ...
       '5/29/22', '5/30/22', '5/31/22', '6/1/22', '6/2/22', '6/3/22', '6/4/22',
       '6/5/22', '6/6/22', '6/7/22'],
      dtype='object', length=872)

In [4]:
time_idx=pd_raw.columns[4:]

In [5]:
df_plot=pd.DataFrame({'date':time_idx})
df_plot.head()

      date
0  1/22/20
1  1/23/20
2  1/24/20
3  1/25/20
4  1/26/20

In [6]:
pd_raw['Country/Region'] #ALL countries

0                           Afghanistan
1                               Albania
2                               Algeria
3                               Andorra
4                                Angola
5                            Antarctica
6                   Antigua and Barbuda
7                             Argentina
8                               Armenia
9                             Australia
10                            Australia
11                            Australia
12                            Australia
13                            Australia
14                            Australia
15                            Australia
16                            Australia
17                              Austria
18                           Azerbaijan
19                              Bahamas
20                              Bahrain
21                           Bangladesh
22                             Barbados
23                              Belarus
24                              Belgium
25                               Belize
26                                Benin
27                               Bhutan
28                              Bolivia
29               Bosnia and Herzegovina
30                             Botswana
31                               Brazil
32                               Brunei
33                             Bulgaria
34                         Burkina Faso
35                                Burma
36                              Burundi
37                           Cabo Verde
38                             Cambodia
39                             Cameroon
40                               Canada
41                               Canada
42                               Canada
43                               Canada
44                               Canada
45                               Canada
46                               Canada
47                               Canada
48                               Canada
49                               Canada
50                               Canada
51                               Canada
52                               Canada
53                               Canada
54                               Canada
55                               Canada
56             Central African Republic
57                                 Chad
58                                Chile
59                                China
60                                China
61                                China
62                                China
63                                China
64                                China
65                                China
66                                China
67                                China
68                                China
69                                China
70                                China
71                                China
72                                China
73                                China
74                                China
75                                China
76                                China
77                                China
78                                China
79                                China
80                                China
81                                China
82                                China
83                                China
84                                China
85                                China
86                                China
87                                China
88                                China
89                                China
90                                China
91                                China
92                                China
93                             Colombia
94                              Comoros
95                  Congo (Brazzaville)
96                     Congo (Kinshasa)
97                           Costa Rica
98                        Cote d'Ivoire
99                              Croatia
100                                Cuba
101                              Cyprus
102                             Czechia
103                             Denmark
104                             Denmark
105                             Denmark
106                    Diamond Princess
107                            Djibouti
108                            Dominica
109                  Dominican Republic
110                             Ecuador
111                               Egypt
112                         El Salvador
113                   Equatorial Guinea
114                             Eritrea
115                             Estonia
116                            Eswatini
117                            Ethiopia
118                                Fiji
119                             Finland
120                              France
121                              France
122                              France
123                              France
124                              France
125                              France
126                              France
127                              France
128                              France
129                              France
130                              France
131                              France
132                               Gabon
133                              Gambia
134                             Georgia
135                             Germany
136                               Ghana
137                              Greece
138                             Grenada
139                           Guatemala
140                              Guinea
141                       Guinea-Bissau
142                              Guyana
143                               Haiti
144                            Holy See
145                            Honduras
146                             Hungary
147                             Iceland
148                               India
149                           Indonesia
150                                Iran
151                                Iraq
152                             Ireland
153                              Israel
154                               Italy
155                             Jamaica
156                               Japan
157                              Jordan
158                          Kazakhstan
159                               Kenya
160                            Kiribati
161                        Korea, North
162                        Korea, South
163                              Kosovo
164                              Kuwait
165                          Kyrgyzstan
166                                Laos
167                              Latvia
168                             Lebanon
169                             Lesotho
170                             Liberia
171                               Libya
172                       Liechtenstein
173                           Lithuania
174                          Luxembourg
175                          MS Zaandam
176                          Madagascar
177                              Malawi
178                            Malaysia
179                            Maldives
180                                Mali
181                               Malta
182                    Marshall Islands
183                          Mauritania
184                           Mauritius
185                              Mexico
186                          Micronesia
187                             Moldova
188                              Monaco
189                            Mongolia
190                          Montenegro
191                             Morocco
192                          Mozambique
193                             Namibia
194                               Nepal
195                         Netherlands
196                         Netherlands
197                         Netherlands
198                         Netherlands
199                         Netherlands
200                         New Zealand
201                         New Zealand
202                           Nicaragua
203                               Niger
204                             Nigeria
205                     North Macedonia
206                              Norway
207                                Oman
208                            Pakistan
209                               Palau
210                              Panama
211                    Papua New Guinea
212                            Paraguay
213                                Peru
214                         Philippines
215                              Poland
216                            Portugal
217                               Qatar
218                             Romania
219                              Russia
220                              Rwanda
221               Saint Kitts and Nevis
222                         Saint Lucia
223    Saint Vincent and the Grenadines
224                               Samoa
225                          San Marino
226               Sao Tome and Principe
227                        Saudi Arabia
228                             Senegal
229                              Serbia
230                          Seychelles
231                        Sierra Leone
232                           Singapore
233                            Slovakia
234                            Slovenia
235                     Solomon Islands
236                             Somalia
237                        South Africa
238                         South Sudan
239                               Spain
240                           Sri Lanka
241                               Sudan
242                Summer Olympics 2020
243                            Suriname
244                              Sweden
245                         Switzerland
246                               Syria
247                             Taiwan*
248                          Tajikistan
249                            Tanzania
250                            Thailand
251                         Timor-Leste
252                                Togo
253                               Tonga
254                 Trinidad and Tobago
255                             Tunisia
256                              Turkey
257                                  US
258                              Uganda
259                             Ukraine
260                United Arab Emirates
261                      United Kingdom
262                      United Kingdom
263                      United Kingdom
264                      United Kingdom
265                      United Kingdom
266                      United Kingdom
267                      United Kingdom
268                      United Kingdom
269                      United Kingdom
270                      United Kingdom
271                      United Kingdom
272                      United Kingdom
273                      United Kingdom
274                      United Kingdom
275                             Uruguay
276                          Uzbekistan
277                             Vanuatu
278                           Venezuela
279                             Vietnam
280                  West Bank and Gaza
281                Winter Olympics 2022
282                               Yemen
283                              Zambia
284                            Zimbabwe
Name: Country/Region, dtype: object

In [7]:
len(pd_raw['Country/Region'].unique()) #number of countries in Data

199

In [8]:
pd_raw[pd_raw['Country/Region']=='India'] #Individual country

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/29/22,5/30/22,5/31/22,6/1/22,6/2/22,6/3/22,6/4/22,6/5/22,6/6/22,6/7/22
148,NaN,India,20.593684,78.96288,0,0,0,0,0,0,...,43155749,43158087,43160832,43164544,43168585,43172547,43176817,43181335,43185049,43190282

In [9]:
pd_raw[pd_raw['Country/Region']=='India'].iloc[:,4::].sum(axis=0) #individual country and the num of infections on particular date

1/22/20            0
1/23/20            0
1/24/20            0
1/25/20            0
1/26/20            0
1/27/20            0
1/28/20            0
1/29/20            0
1/30/20            1
1/31/20            1
2/1/20             1
2/2/20             2
2/3/20             3
2/4/20             3
2/5/20             3
2/6/20             3
2/7/20             3
2/8/20             3
2/9/20             3
2/10/20            3
2/11/20            3
2/12/20            3
2/13/20            3
2/14/20            3
2/15/20            3
2/16/20            3
2/17/20            3
2/18/20            3
2/19/20            3
2/20/20            3
2/21/20            3
2/22/20            3
2/23/20            3
2/24/20            3
2/25/20            3
2/26/20            3
2/27/20            3
2/28/20            3
2/29/20            3
3/1/20             3
3/2/20             5
3/3/20             5
3/4/20            28
3/5/20            30
3/6/20            31
3/7/20            34
3/8/20            39
3/9/20            43
3/10/20           56
3/11/20           62
3/12/20           73
3/13/20           82
3/14/20          102
3/15/20          113
3/16/20          119
3/17/20          142
3/18/20          156
3/19/20          194
3/20/20          244
3/21/20          330
3/22/20          396
3/23/20          499
3/24/20          536
3/25/20          657
3/26/20          727
3/27/20          887
3/28/20          987
3/29/20         1024
3/30/20         1251
3/31/20         1397
4/1/20          1998
4/2/20          2543
4/3/20          2567
4/4/20          3082
4/5/20          3588
4/6/20          4778
4/7/20          5311
4/8/20          5916
4/9/20          6725
4/10/20         7598
4/11/20         8446
4/12/20         9205
4/13/20        10453
4/14/20        11487
4/15/20        12322
4/16/20        13430
4/17/20        14352
4/18/20        15722
4/19/20        17615
4/20/20        18539
4/21/20        20080
4/22/20        21370
4/23/20        23077
4/24/20        24530
4/25/20        26283
4/26/20        27890
4/27/20        29451
4/28/20        31324
4/29/20        33062
4/30/20        34863
5/1/20         37257
5/2/20         39699
5/3/20         42505
5/4/20         46437
5/5/20         49400
5/6/20         52987
5/7/20         56351
5/8/20         59695
5/9/20         62808
5/10/20        67161
5/11/20        70768
5/12/20        74292
5/13/20        78055
5/14/20        81997
5/15/20        85784
5/16/20        90648
5/17/20        95698
5/18/20       100328
5/19/20       106475
5/20/20       112028
5/21/20       118226
5/22/20       124794
5/23/20       131423
5/24/20       138536
5/25/20       144950
5/26/20       150793
5/27/20       158086
5/28/20       165386
5/29/20       173491
5/30/20       181827
5/31/20       190609
6/1/20        198370
6/2/20        207191
6/3/20        216824
6/4/20        226713
6/5/20        236184
6/6/20        246622
6/7/20        257486
6/8/20        265928
6/9/20        276146
6/10/20       286605
6/11/20       297535
6/12/20       308993
6/13/20       320922
6/14/20       332424
6/15/20       343091
6/16/20       354065
6/17/20       366946
6/18/20       380532
6/19/20       395048
6/20/20       410451
6/21/20       425282
6/22/20       440215
6/23/20       456183
6/24/20       473105
6/25/20       490401
6/26/20       508953
6/27/20       528859
6/28/20       548318
6/29/20       566840
6/30/20       585481
7/1/20        604641
7/2/20        625544
7/3/20        648315
7/4/20        673165
7/5/20        697413
7/6/20        719664
7/7/20        742417
7/8/20        767296
7/9/20        793802
7/10/20       820916
7/11/20       849522
7/12/20       878254
7/13/20       906752
7/14/20       936181
7/15/20       968857
7/16/20      1003832
7/17/20      1039084
7/18/20      1077781
7/19/20      1118206
7/20/20      1155338
7/21/20      1193078
7/22/20      1238798
7/23/20      1288108
7/24/20      1337024
7/25/20      1385635
7/26/20      1435616
7/27/20      1480073
7/28/20      1531669
7/29/20      1581963
7/30/20      1634746
7/31/20      1695988
8/1/20       1750723
8/2/20       1803695
8/3/20       1855745
8/4/20       1908254
8/5/20       1964536
8/6/20       2027074
8/7/20       2088611
8/8/20       2153010
8/9/20       2215074
8/10/20      2268675
8/11/20      2329638
8/12/20      2396637
8/13/20      2461190
8/14/20      2525922
8/15/20      2589952
8/16/20      2647663
8/17/20      2702681
8/18/20      2767253
8/19/20      2836925
8/20/20      2905825
8/21/20      2975701
8/22/20      3044940
8/23/20      3106348
8/24/20      3167323
8/25/20      3224547
8/26/20      3310234
8/27/20      3387500
8/28/20      3463972
8/29/20      3542733
8/30/20      3621245
8/31/20      3691166
9/1/20       3769523
9/2/20       3853406
9/3/20       3936747
9/4/20       4023179
9/5/20       4113811
9/6/20       4204613
9/7/20       4280422
9/8/20       4370128
9/9/20       4465863
9/10/20      4562414
9/11/20      4659984
9/12/20      4754356
9/13/20      4846427
9/14/20      4930236
9/15/20      5020359
9/16/20      5118253
9/17/20      5214677
9/18/20      5308014
9/19/20      5400619
9/20/20      5487580
9/21/20      5562663
9/22/20      5646010
9/23/20      5732518
9/24/20      5818570
9/25/20      5903932
9/26/20      5992532
9/27/20      6074702
9/28/20      6145291
9/29/20      6225763
9/30/20      6312584
10/1/20      6394068
10/2/20      6473544
10/3/20      6549373
10/4/20      6623815
10/5/20      6685082
10/6/20      6757131
10/7/20      6835655
10/8/20      6906151
10/9/20      6979423
10/10/20     7053806
10/11/20     7120538
10/12/20     7175880
10/13/20     7239389
10/14/20     7307097
10/15/20     7370468
10/16/20     7432680
10/17/20     7494551
10/18/20     7550273
10/19/20     7597063
10/20/20     7651107
10/21/20     7706946
10/22/20     7761312
10/23/20     7814682
10/24/20     7864811
10/25/20     7909959
10/26/20     7946429
10/27/20     7990322
10/28/20     8040203
10/29/20     8088851
10/30/20     8137119
10/31/20     8184082
11/1/20      8229313
11/2/20      8267623
11/3/20      8313876
11/4/20      8364086
11/5/20      8411724
11/6/20      8462080
11/7/20      8507754
11/8/20      8553657
11/9/20      8591730
11/10/20     8636011
11/11/20     8683916
11/12/20     8728795
11/13/20     8773479
11/14/20     8814579
11/15/20     8845127
11/16/20     8874290
11/17/20     8912907
11/18/20     8958483
11/19/20     9004365
11/20/20     9050597
11/21/20     9095806
11/22/20     9139865
11/23/20     9177840
11/24/20     9222216
11/25/20     9266705
11/26/20     9309787
11/27/20     9351109
11/28/20     9392919
11/29/20     9431691
11/30/20     9462809
12/1/20      9499413
12/2/20      9534964
12/3/20      9571559
12/4/20      9608211
12/5/20      9644222
12/6/20      9677203
12/7/20      9703770
12/8/20      9735850
12/9/20      9767371
12/10/20     9796744
12/11/20     9826775
12/12/20     9857029
12/13/20     9884100
12/14/20     9906165
12/15/20     9932547
12/16/20     9956557
12/17/20     9979447
12/18/20    10004599
12/19/20    10031223
12/20/20    10055560
12/21/20    10075116
12/22/20    10099066
12/23/20    10123778
12/24/20    10146845
12/25/20    10169118
12/26/20    10187850
12/27/20    10207871
12/28/20    10224303
12/29/20    10244852
12/30/20    10266674
12/31/20    10286709
1/1/21      10305788
1/2/21      10323965
1/3/21      10340469
1/4/21      10356844
1/5/21      10374932
1/6/21      10395278
1/7/21      10413417
1/8/21      10413417
1/9/21      10450284
1/10/21     10466595
1/11/21     10479179
1/12/21     10495147
1/13/21     10512093
1/14/21     10527683
1/15/21     10542841
1/16/21     10557985
1/17/21     10571773
1/18/21     10581823
1/19/21     10595639
1/20/21     10610883
1/21/21     10625428
1/22/21     10639684
1/23/21     10654533
1/24/21     10667736
1/25/21     10676838
1/26/21     10689527
1/27/21     10701193
1/28/21     10720048
1/29/21     10733130
1/30/21     10746174
1/31/21     10757610
2/1/21      10766245
2/2/21      10777284
2/3/21      10790183
2/4/21      10802591
2/5/21      10814304
2/6/21      10826363
2/7/21      10838194
2/8/21      10847304
2/9/21      10858371
2/10/21     10871294
2/11/21     10880603
2/12/21     10892746
2/13/21     10904940
2/14/21     10916589
2/15/21     10925710
2/16/21     10937320
2/17/21     10950201
2/18/21     10963394
2/19/21     10977387
2/20/21     10991651
2/21/21     11005850
2/22/21     11016434
2/23/21     11030176
2/24/21     11046914
2/25/21     11063491
2/26/21     11079979
2/27/21     11096731
2/28/21     11112241
3/1/21      11124527
3/2/21      11139516
3/3/21      11156923
3/4/21      11173761
3/5/21      11192045
3/6/21      11210799
3/7/21      11229398
3/8/21      11244786
3/9/21      11262707
3/10/21     11285561
3/11/21     11308846
3/12/21     11333728
3/13/21     11359048
3/14/21     11385339
3/15/21     11409831
3/16/21     11438734
3/17/21     11474605
3/18/21     11514331
3/19/21     11555284
3/20/21     11599130
3/21/21     11646081
3/22/21     11686796
3/23/21     11734058
3/24/21     11787534
3/25/21     11846652
3/26/21     11908910
3/27/21     11971624
3/28/21     12039644
3/29/21     12095855
3/30/21     12149335
3/31/21     12221665
4/1/21      12303131
4/2/21      12392260
4/3/21      12485509
4/4/21      12589067
4/5/21      12686049
4/6/21      12801785
4/7/21      12928574
4/8/21      13060542
4/9/21      13205926
4/10/21     13358805
4/11/21     13527717
4/12/21     13689453
4/13/21     13873825
4/14/21     14074564
4/15/21     14291917
4/16/21     14526609
4/17/21     14788003
4/18/21     15061805
4/19/21     15320972
4/20/21     15616130
4/21/21     15930774
4/22/21     16263695
4/23/21     16610481
4/24/21     16960172
4/25/21     17313163
4/26/21     17636186
4/27/21     17997113
4/28/21     18376421
4/29/21     18762976
4/30/21     19164969
5/1/21      19557457
5/2/21      19925517
5/3/21      20282833
5/4/21      20664979
5/5/21      21077410
5/6/21      21491598
5/7/21      21892676
5/8/21      22296081
5/9/21      22662575
5/10/21     22992517
5/11/21     23340938
5/12/21     23703665
5/13/21     24046809
5/14/21     24372907
5/15/21     24684077
5/16/21     24965463
5/17/21     25228996
5/18/21     25496330
5/19/21     25772440
5/20/21     26031991
5/21/21     26289290
5/22/21     26530132
5/23/21     26752447
5/24/21     26948874
5/25/21     27157795
5/26/21     27369093
5/27/21     27555457
5/28/21     27729247
5/29/21     27894800
5/30/21     28047534
5/31/21     28175044
6/1/21      28307832
6/2/21      28441986
6/3/21      28574350
6/4/21      28694879
6/5/21      28809339
6/6/21      28909975
6/7/21      28996473
6/8/21      29089069
6/9/21      29182532
6/10/21     29274823
6/11/21     29359155
6/12/21     29439989
6/13/21     29510410
6/14/21     29570881
6/15/21     29633105
6/16/21     29700313
6/17/21     29762793
6/18/21     29823546
6/19/21     29881772
6/20/21     29935221
6/21/21     29977861
6/22/21     30028709
6/23/21     30082778
6/24/21     30134445
6/25/21     30183143
6/26/21     30233183
6/27/21     30279331
6/28/21     30316897
6/29/21     30362848
6/30/21     30411634
7/1/21      30458251
7/2/21      30502362
7/3/21      30545433
7/4/21      30585229
7/5/21      30619932
7/6/21      30663665
7/7/21      30709557
7/8/21      30752950
7/9/21      30795716
7/10/21     30837222
7/11/21     30874376
7/12/21     30907282
7/13/21     30946147
7/14/21     30987880
7/15/21     31026829
7/16/21     31064908
7/17/21     31106065
7/18/21     31144229
7/19/21     31174322
7/20/21     31216337
7/21/21     31257720
7/22/21     31293062
7/23/21     31332159
7/24/21     31371901
7/25/21     31411262
7/26/21     31440951
7/27/21     31484605
7/28/21     31528114
7/29/21     31572344
7/30/21     31613993
7/31/21     31655824
8/1/21      31695958
8/2/21      31726507
8/3/21      31769132
8/4/21      31812114
8/5/21      31856757
8/6/21      31895385
8/7/21      31934455
8/8/21      31969954
8/9/21      31998158
8/10/21     32036511
8/11/21     32077706
8/12/21     32117826
8/13/21     32156493
8/14/21     32192576
8/15/21     32225513
8/16/21     32250679
8/17/21     32285857
8/18/21     32322258
8/19/21     32358829
8/20/21     32393286
8/21/21     32424234
8/22/21     32449306
8/23/21     32474773
8/24/21     32512366
8/25/21     32558530
8/26/21     32603188
8/27/21     32649947
8/28/21     32695030
8/29/21     32737939
8/30/21     32768880
8/31/21     32810845
9/1/21      32857937
9/2/21      32903289
9/3/21      32945907
9/4/21      32988673
9/5/21      33027621
9/6/21      33058843
9/7/21      33096718
9/8/21      33139981
9/9/21      33174954
9/10/21     33208330
9/11/21     33236921
9/12/21     33264175
9/13/21     33289579
9/14/21     33316755
9/15/21     33347325
9/16/21     33381728
9/17/21     33417390
9/18/21     33448163
9/19/21     33478419
9/20/21     33504534
9/21/21     33531498
9/22/21     33563421
9/23/21     33594803
9/24/21     33624419
9/25/21     33652745
9/26/21     33678786
9/27/21     33697581
9/28/21     33716451
9/29/21     33739980
9/30/21     33766707
10/1/21     33791061
10/2/21     33813903
10/3/21     33834702
10/4/21     33853048
10/5/21     33871881
10/6/21     33894312
10/7/21     33915569
10/8/21     33935309
10/9/21     33953475
10/10/21    33971607
10/11/21    33985920
10/12/21    34001743
10/13/21    34020730
10/14/21    34037592
10/15/21    34053573
10/16/21    34067719
10/17/21    34081315
10/18/21    34094373
10/19/21    34108996
10/20/21    34127450
10/21/21    34143236
10/22/21    34159562
10/23/21    34175468
10/24/21    34189774
10/25/21    34202202
10/26/21    34215653
10/27/21    34231809
10/28/21    34246157
10/29/21    34260470
10/30/21    34273300
10/31/21    34285814
11/1/21     34296237
11/2/21     34308140
11/3/21     34321025
11/4/21     34333754
11/5/21     34344683
11/6/21     34355509
11/7/21     34366987
11/8/21     34377113
11/9/21     34388579
11/10/21    34401670
11/11/21    34414186
11/12/21    34426036
11/13/21    34437307
11/14/21    34447536
11/15/21    34456401
11/16/21    34466598
11/17/21    34478517
11/18/21    34489623
11/19/21    34499925
11/20/21    34510413
11/21/21    34518901
11/22/21    34526480
11/23/21    34535763
11/24/21    34544882
11/25/21    34555431
11/26/21    34563749
11/27/21    34572523
11/28/21    34580832
11/29/21    34587822
11/30/21    34596776
12/1/21     34606541
12/2/21     34615757
12/3/21     34624360
12/4/21     34624360
12/5/21     34641561
12/6/21     34648383
12/7/21     34656822
12/8/21     34666241
12/9/21     34674643
12/10/21    34682633
12/11/21    34690510
12/12/21    34697860
12/13/21    34703644
12/14/21    34710628
12/15/21    34718602
12/16/21    34726049
12/17/21    34726049
12/18/21    34733194
12/19/21    34746838
12/20/21    34752164
12/21/21    34758481
12/22/21    34765976
12/23/21    34772626
12/24/21    34779815
12/25/21    34786802
12/26/21    34793333
12/27/21    34799691
12/28/21    34808886
12/29/21    34822040
12/30/21    34838804
12/31/21    34861579
1/1/22      34889132
1/2/22      34922882
1/3/22      34960261
1/4/22      35018358
1/5/22      35109286
1/6/22      35226386
1/7/22      35368372
1/8/22      35528004
1/9/22      35707727
1/10/22     35875790
1/11/22     36070510
1/12/22     36317927
1/13/22     36582129
1/14/22     36850962
1/15/22     37122164
1/16/22     37380253
1/17/22     37618271
1/18/22     37901241
1/19/22     38218773
1/20/22     38566027
1/21/22     38903731
1/22/22     39237264
1/23/22     39543328
1/24/22     39799202
1/25/22     40085116
1/26/22     40371500
1/27/22     40622709
1/28/22     40858241
1/29/22     41092522
1/30/22     41302440
1/31/22     41469499
2/1/22      41630885
2/2/22      41803318
2/3/22      41952712
2/4/22      42080664
2/5/22      42188138
2/6/22      42272014
2/7/22      42339611
2/8/22      42410976
2/9/22      42478060
2/10/22     42536137
2/11/22     42586544
2/12/22     42631421
2/13/22     42665534
2/14/22     42692943
2/15/22     42723558
2/16/22     42754315
2/17/22     42780235
2/18/22     42802505
2/19/22     42822473
2/20/22     42838524
2/21/22     42851929
2/22/22     42867031
2/23/22     42881179
2/24/22     42894345
2/25/22     42905844
2/26/22     42916117
2/27/22     42924130
2/28/22     42931045
3/1/22      42938599
3/2/22      42945160
3/3/22      42951556
3/4/22      42957477
3/5/22      42962953
3/6/22      42967315
3/7/22      42971308
3/8/22      42975883
3/9/22      42980067
3/10/22     42984261
3/11/22     42987875
3/12/22     42990991
3/13/22     42993494
3/14/22     42996062
3/15/22     42998938
3/16/22     43001477
3/17/22     43004005
3/18/22     43006080
3/19/22     43007841
3/20/22     43009390
3/21/22     43010971
3/22/22     43012749
3/23/22     43014687
3/24/22     43016372
3/25/22     43018032
3/26/22     43019453
3/27/22     43020723
3/28/22     43021982
3/29/22     43023215
3/30/22     43024440
3/31/22     43025775
4/1/22      43027035
4/2/22      43028131
4/3/22      43029044
4/4/22      43029839
4/5/22      43030925
4/6/22      43031958
4/7/22      43033067
4/8/22      43034217
4/9/22      43035271
4/10/22     43036132
4/11/22     43036928
4/12/22     43038016
4/13/22     43039023
4/14/22     43039972
4/15/22     43040947
4/16/22     43042097
4/17/22     43044280
4/18/22     43045527
4/19/22     43047594
4/20/22     43049974
4/21/22     43052425
4/22/22     43054952
4/23/22     43057545
4/24/22     43060086
4/25/22     43060097
4/26/22     43065496
4/27/22     43068799
4/28/22     43072176
4/29/22     43075864
4/30/22     43079188
5/1/22      43082345
5/2/22      43084913
5/3/22      43088118
5/4/22      43091393
5/5/22      43094938
5/6/22      43098743
5/7/22      43102194
5/8/22      43105401
5/9/22      43107689
5/10/22     43110586
5/11/22     43113413
5/12/22     43116254
5/13/22     43119112
5/14/22     43121599
5/15/22     43123801
5/16/22     43125370
5/17/22     43127199
5/18/22     43129563
5/19/22     43131822
5/20/22     43134145
5/21/22     43136371
5/22/22     43138393
5/23/22     43140068
5/24/22     43142192
5/25/22     43144820
5/26/22     43147530
5/27/22     43150215
5/28/22     43153043
5/29/22     43155749
5/30/22     43158087
5/31/22     43160832
6/1/22      43164544
6/2/22      43168585
6/3/22      43172547
6/4/22      43176817
6/5/22      43181335
6/6/22      43185049
6/7/22      43190282
dtype: int64

In [10]:
pd_raw[pd_raw['Country/Region']=='India'].iloc[:,4::].sum(axis=0)[:5] #only first 5 rows

1/22/20    0
1/23/20    0
1/24/20    0
1/25/20    0
1/26/20    0
dtype: int64

In [11]:
#first work with few data sets 
country_list=['Italy',
              'US',
              'France',
              'Germany',
              'India',
             ]

In [12]:
for each in country_list:
    df_plot[each]=np.array(pd_raw[pd_raw['Country/Region']==each].iloc[:,4::].sum(axis=0)) #convert to array as few or all data might have same index num in data

In [13]:
df_plot

         date     Italy        US    France   Germany     India
0     1/22/20         0         1         0         0         0
1     1/23/20         0         1         0         0         0
2     1/24/20         0         2         2         0         0
3     1/25/20         0         2         3         0         0
4     1/26/20         0         5         3         0         0
5     1/27/20         0         5         3         1         0
6     1/28/20         0         5         4         4         0
7     1/29/20         0         6         5         4         0
8     1/30/20         0         6         5         4         1
9     1/31/20         2         8         5         5         1
10     2/1/20         2         8         6         8         1
11     2/2/20         2         8         6        10         2
12     2/3/20         2        11         6        12         3
13     2/4/20         2        11         6        12         3
14     2/5/20         2        11         6        12         3
15     2/6/20         2        12         6        12         3
16     2/7/20         3        12         6        13         3
17     2/8/20         3        12        11        13         3
18     2/9/20         3        12        11        14         3
19    2/10/20         3        12        11        14         3
20    2/11/20         3        13        11        16         3
21    2/12/20         3        13        11        16         3
22    2/13/20         3        14        11        16         3
23    2/14/20         3        14        11        16         3
24    2/15/20         3        14        12        16         3
25    2/16/20         3        14        12        16         3
26    2/17/20         3        14        12        16         3
27    2/18/20         3        14        12        16         3
28    2/19/20         3        14        12        16         3
29    2/20/20         3        14        12        16         3
30    2/21/20        20        16        12        16         3
31    2/22/20        62        16        12        16         3
32    2/23/20       155        16        12        16         3
33    2/24/20       229        16        12        16         3
34    2/25/20       322        16        14        16         3
35    2/26/20       453        16        18        21         3
36    2/27/20       655        17        38        26         3
37    2/28/20       888        17        57        53         3
38    2/29/20      1128        25       100        66         3
39     3/1/20      1694        32       130       117         3
40     3/2/20      2036        55       191       150         5
41     3/3/20      2502        74       212       188         5
42     3/4/20      3089       107       288       240        28
43     3/5/20      3858       184       426       349        30
44     3/6/20      4636       237       616       534        31
45     3/7/20      5883       403       948       684        34
46     3/8/20      7375       519      1125       847        39
47     3/9/20      9172       594      1411      1112        43
48    3/10/20     10149       782      1783      1296        56
49    3/11/20     12462      1147      2293      1567        62
50    3/12/20     15113      1586      2293      2369        73
51    3/13/20     17660      2219      3681      3062        82
52    3/14/20     21157      2978      4496      3795       102
53    3/15/20     24747      3212      4532      4838       113
54    3/16/20     27980      4679      6683      6012       119
55    3/17/20     31506      6512      7715      7156       142
56    3/18/20     35713      9169      9124      8198       156
57    3/19/20     41035     13663     10970     10999       194
58    3/20/20     47021     20030     12758     13957       244
59    3/21/20     53578     26025     14463     16662       330
60    3/22/20     59138     34944     16761     18610       396
61    3/23/20     63927     46096     20120     22672       499
62    3/24/20     69176     56714     22372     27436       536
63    3/25/20     74386     68841     25331     31554       657
64    3/26/20     80589     86662     29252     36508       727
65    3/27/20     86498    105253     33045     42288       887
66    3/28/20     92472    127417     37693     48582       987
67    3/29/20     97689    143544     40296     52547      1024
68    3/30/20    101739    165698     44645     57298      1251
69    3/31/20    105792    192079     52281     61913      1397
70     4/1/20    110574    223254     57125     67366      1998
71     4/2/20    115242    255530     59227     73522      2543
72     4/3/20    119827    287931     64452     79696      2567
73     4/4/20    124632    319776     47376     85778      3082
74     4/5/20    128948    349016     48225     91714      3588
75     4/6/20    132547    380798     50884     95391      4778
76     4/7/20    135586    410834     47395     99225      5311
77     4/8/20    139422    441897     51250    103228      5916
78     4/9/20    143626    477507     55034    108202      6725
79    4/10/20    147577    511790     56600    113525      7598
80    4/11/20    152271    540714     58045    117658      8446
81    4/12/20    156363    567022    108792    120479      9205
82    4/13/20    159516    594165    111933    123016     10453
83    4/14/20    162488    622493    129381    125098     11487
84    4/15/20    165155    648390    132588    127584     12322
85    4/16/20    168941    678028    145166    130450     13430
86    4/17/20    172434    711135    147057    133830     14352
87    4/18/20    175925    738464    150861    137439     15722
88    4/19/20    178972    763886    151955    139897     17615
89    4/20/20    181228    793970    154402    141672     18539
90    4/21/20    183957    820045    157068    143457     20080
91    4/22/20    187327    849926    158867    145694     21370
92    4/23/20    189973    881891    157158    148046     23077
93    4/24/20    192994    913856    159969    150383     24530
94    4/25/20    195351    944770    161647    152438     26283
95    4/26/20    197675    970741    162280    154175     27890
96    4/27/20    199414    995391    165966    155193     29451
97    4/28/20    201505   1019964    169098    156337     31324
98    4/29/20    203591   1046816    167643    157641     33062
99    4/30/20    205463   1076518    168861    159119     34863
100    5/1/20    207428   1111410    169387    160758     37257
101    5/2/20    209328   1138174    170179    161703     39699
102    5/3/20    210717   1161907    170540    162496     42505
103    5/4/20    211938   1185709    171102    163175     46437
104    5/5/20    213013   1209728    172219    163860     49400
105    5/6/20    214457   1234210    176355    164807     52987
106    5/7/20    215858   1261949    177096    166091     56351
107    5/8/20    217185   1289132    177627    167300     59695
108    5/9/20    218268   1313586    178155    168551     62808
109   5/10/20    219070   1332333    178404    169218     67161
110   5/11/20    219814   1351410    178719    169575     70768
111   5/12/20    221216   1374792    179472    170508     74292
112   5/13/20    222104   1394807    179993    171306     78055
113   5/14/20    223096   1420697    180635    172239     81997
114   5/15/20    223885   1445548    181148    173152     85784
115   5/16/20    224760   1469598    181563    173772     90648
116   5/17/20    225435   1488327    181703    174355     95698
117   5/18/20    225886   1510635    182147    174697    100328
118   5/19/20    226699   1531138    182648    175210    106475
119   5/20/20    227364   1553964    183129    176007    112028
120   5/21/20    228006   1579116    183396    176752    118226
121   5/22/20    228658   1602945    184152    177212    124794
122   5/23/20    229327   1623134    184698    177850    131423
123   5/24/20    229858   1643308    184259    178281    138536
124   5/25/20    230158   1662402    184584    178570    144950
125   5/26/20    230555   1681128    184839    179002    150793
126   5/27/20    231139   1699891    185012    179364    158086
127   5/28/20    231732   1721158    188355    179717    165386
128   5/29/20    232248   1746240    188949    180458    173491
129   5/30/20    232664   1769320    190743    181196    181827
130   5/31/20    232997   1788239    190975    181482    190609
131    6/1/20    233197   1806079    191382    181815    198370
132    6/2/20    233515   1826169    190735    182028    207191
133    6/3/20    233836   1845325    187509    182370    216824
134    6/4/20    234013   1873259    191869    182764    226713
135    6/5/20    234531   1899699    192450    183271    236184
136    6/6/20    234801   1919968    193022    183678    246622
137    6/7/20    234998   1937794    193363    183979    257486
138    6/8/20    235278   1954694    193637    184193    265928
139    6/9/20    235561   1975015    194190    184543    276146
140   6/10/20    235763   1996733    194815    184861    286605
141   6/11/20    236142   2019011    195179    185416    297535
142   6/12/20    236305   2044569    195980    185674    308993
143   6/13/20    236651   2068726    196477    186022    320922
144   6/14/20    236989   2087627    196867    186269    332424
145   6/15/20    237290   2108626    197003    186461    343091
146   6/16/20    237500   2133175    197666    186839    354065
147   6/17/20    237828   2160225    198155    187184    366946
148   6/18/20    238159   2188452    198741    187764    380532
149   6/19/20    238011   2219506    199528    188534    395048
150   6/20/20    238275   2251332    200147    189135    410451
151   6/21/20    238499   2277168    200490    189822    425282
152   6/22/20    238720   2306969    200632    190359    440215
153   6/23/20    238833   2345698    201330    190862    456183
154   6/24/20    239410   2381949    201598    191449    473105
155   6/25/20    239706   2421248    201853    192079    490401
156   6/26/20    239961   2470294    203116    192556    508953
157   6/27/20    240136   2511048    203564    193243    528859
158   6/28/20    240310   2553973    203157    193499    548318
159   6/29/20    240436   2595268    203802    193761    566840
160   6/30/20    240578   2645092    204244    194259    585481
161    7/1/20    240760   2694215    205234    194725    604641
162    7/2/20    240961   2749158    205773    195228    625544
163    7/3/20    241184   2800662    206312    195674    648315
164    7/4/20    241419   2846607    206670    196096    673165
165    7/5/20    241611   2900335    206682    196335    697413
166    7/6/20    241819   2943500    207700    196554    719664
167    7/7/20    241956   3000731    208154    196944    742417
168    7/8/20    242149   3061037    208976    197341    767296
169    7/9/20    242363   3120693    209420    197783    793802
170   7/10/20    242639   3189552    210135    198178    820916
171   7/11/20    242827   3249991    210386    198556    849522
172   7/12/20    243061   3310123    210402    198804    878254
173   7/13/20    243230   3369487    211825    198963    906752
174   7/14/20    243344   3435149    211887    199375    936181
175   7/15/20    243506   3501175    212614    199726    968857
176   7/16/20    243736   3571989    213183    200260   1003832
177   7/17/20    243967   3638461    214009    200843   1039084
178   7/18/20    244216   3702783    214174    201372   1077781
179   7/19/20    244434   3761715    214178    201574   1118206
180   7/20/20    244624   3822378    216089    201823   1155338
181   7/21/20    244752   3890572    216684    202345   1193078
182   7/22/20    245032   3958117    217605    202799   1238798
183   7/23/20    245338   4026003    218841    203368   1288108
184   7/24/20    245590   4101150    219932    204183   1337024
185   7/25/20    245864   4165350    220016    204964   1385635
186   7/26/20    246118   4221189    220020    205269   1435616
187   7/27/20    246286   4280913    222508    205609   1480073
188   7/28/20    246488   4345743    223072    206242   1531669
189   7/29/20    246776   4409871    224542    206926   1581963
190   7/30/20    247158   4479112    225936    207828   1634746
191   7/31/20    247537   4543688    227239    208698   1695988
192    8/1/20    247832   4601266    227301    209653   1750723
193    8/2/20    248070   4648375    227304    209893   1803695
194    8/3/20    248229   4690059    230665    210402   1855745
195    8/4/20    248419   4751716    231636    211281   1908254
196    8/5/20    248803   4806064    233344    212022   1964536
197    8/6/20    249204   4866244    234945    213067   2027074
198    8/7/20    249756   4926831    237332    214214   2088611
199    8/8/20    250103   4990764    237402    215336   2153010
200    8/9/20    250566   5045031    237408    215891   2215074
201   8/10/20    250825   5096648    242168    216327   2268675
202   8/11/20    251237   5153603    243576    217293   2329638
203   8/12/20    251713   5208847    246180    218519   2396637
204   8/13/20    252235   5260503    248850    219964   2461190
205   8/14/20    252809   5330628    251764    221413   2525922
206   8/15/20    253438   5383023    254974    222828   2589952
207   8/16/20    253915   5417685    257994    223453   2647663
208   8/17/20    254235   5455534    258629    224014   2702681
209   8/18/20    254636   5500436    260748    225404   2767253
210   8/19/20    255278   5546320    264535    226914   2836925
211   8/20/20    256118   5591448    269335    228621   2905825
212   8/21/20    257065   5639039    274289    230048   2975701
213   8/22/20    258136   5684712    277763    232082   3044940
214   8/23/20    259345   5716623    282498    232864   3106348
215   8/24/20    260298   5750546    284474    233575   3167323
216   8/25/20    261174   5793219    288067    234853   3224547
217   8/26/20    262540   5835292    288354    236429   3310234
218   8/27/20    263949   5885810    299580    237936   3387500
219   8/28/20    265409   5932280    307205    239507   3463972
220   8/29/20    266853   5975383    312665    240986   3542733
221   8/30/20    268218   6009514    318047    241771   3621245
222   8/31/20    269214   6042876    321160    242381   3691166
223    9/1/20    270189   6084854    326264    243599   3769523
224    9/2/20    271515   6124815    333351    244855   3853406
225    9/3/20    272912   6169955    340473    246166   3936747
226    9/4/20    274644   6218289    349333    247619   4023179
227    9/5/20    276338   6261912    357927    248997   4113811
228    9/6/20    277634   6291031    364943    249985   4204613
229    9/7/20    278784   6315594    369209    250799   4280422
230    9/8/20    280153   6342338    375947    252298   4370128
231    9/9/20    281583   6375976    384546    253474   4465863
232   9/10/20    283180   6415424    394308    255366   4562414
233   9/11/20    284796   6460047    403837    256850   4659984
234   9/12/20    286297   6505630    415174    258480   4754356
235   9/13/20    287753   6545921    421519    259428   4846427
236   9/14/20    288761   6578485    427839    260355   4930236
237   9/15/20    289990   6615663    435665    261762   5020359
238   9/16/20    291442   6653955    445932    263663   5118253
239   9/17/20    293025   6699274    456171    265857   5214677
240   9/18/20    294932   6749458    469404    267773   5308014
241   9/19/20    296569   6795236    482964    270070   5400619
242   9/20/20    298156   6836846    493500    271415   5487580
243   9/21/20    299506   6868889    499039    272337   5562663
244   9/22/20    300897   6907160    509123    274158   5646010
245   9/23/20    302537   6948280    522355    275927   5732518
246   9/24/20    304323   6997163    538264    278070   5818570
247   9/25/20    306235   7044299    554368    280223   5903932
248   9/26/20    308104   7087846    568588    282730   5992532
249   9/27/20    309870   7121625    579223    284140   6074702
250   9/28/20    311364   7159365    583522    285332   6145291
251   9/29/20    313011   7201398    591527    287421   6225763
252   9/30/20    314861   7240029    605893    289219   6312584
253   10/1/20    317409   7286273    618918    291722   6394068
254   10/2/20    319908   7339716    631354    294395   6473544
255   10/3/20    322751   7388997    647868    296958   6549373
256   10/4/20    325329   7422128    660372    299237   6623815
257   10/5/20    327586   7459485    666011    300619   6685082
258   10/6/20    330263   7504030    677321    303258   6757131
259   10/7/20    333940   7553167    696274    306086   6835655
260   10/8/20    338398   7611057    713676    310144   6906151
261   10/9/20    343770   7666136    734707    314660   6979423
262  10/10/20    349494   7721502    761384    319381   7053806
263  10/11/20    354950   7768402    777378    322864   7120538
264  10/12/20    359569   7810482    786590    325331   7175880
265  10/13/20    365467   7860605    800216    329453   7239389
266  10/14/20    372799   7919047    823181    334585   7307097
267  10/15/20    381602   7982584    852938    341223   7370468
268  10/16/20    391611   8052758    878572    348557   7432680
269  10/17/20    402536   8107590    910711    356387   7494551
270  10/18/20    414241   8159760    940548    361974   7550273
271  10/19/20    423578   8227642    954838    366299   7597063
272  10/20/20    434449   8289379    975214    373167   7651107
273  10/21/20    449648   8350085   1002624    380762   7706946
274  10/22/20    465726   8429706   1043437    392049   7761312
275  10/23/20    484869   8511366   1086286    403291   7814682
276  10/24/20    504509   8589741   1131551    418005   7864811
277  10/25/20    525782   8650716   1138167    429181   7909959
278  10/26/20    542789   8715280   1211177    437866   7946429
279  10/27/20    564778   8792503   1245635    449275   7990322
280  10/28/20    589766   8878980   1283185    464239   8040203
281  10/29/20    616595   8970273   1329821    481013   8088851
282  10/30/20    647674   9070122   1379295    499694   8137119
283  10/31/20    679430   9157465   1414396    518753   8184082
284   11/1/20    709335   9235295   1460575    532930   8229313
285   11/2/20    731588   9317102   1566666    545027   8267623
286   11/3/20    759829   9441868   1639267    560379   8313876
287   11/4/20    790377   9542130   1593146    577593   8364086
288   11/5/20    824879   9670211   1650966    597583   8411724
289   11/6/20    862681   9797267   1711918    619089   8462080
290   11/7/20    902490   9924331   1798573    642488   8507754
291   11/8/20    935104  10044004   1837135    658505   8553657
292   11/9/20    960373  10160960   1858559    671868   8591730
293  11/10/20    995463  10297512   1881172    687200   8636011
294  11/11/20   1028424  10445194   1917578    705687   8683916
295  11/12/20   1066401  10603990   1950136    727553   8728795
296  11/13/20   1107303  10783508   1974271    751095   8773479
297  11/14/20   1144552  10947558   2006228    773556   8814579
298  11/15/20   1178529  11087273   2033420    790503   8845127
299  11/16/20   1205881  11240360   2043470    801327   8874290
300  11/17/20   1238072  11405007   2089073    815746   8912907
301  11/18/20   1272352  11576977   2117917    833307   8958483
302  11/19/20   1308528  11769278   2138706    855916   9004365
303  11/20/20   1345767  11970947   2161970    879564   9050597
304  11/21/20   1380531  12150765   2179640    902528   9095806
305  11/22/20   1408868  12297352   2192770    918269   9139865
306  11/23/20   1431795  12478864   2197832    929133   9177840
307  11/24/20   1455022  12652424   2207753    942687   9222216
308  11/25/20   1480874  12832636   2224508    961320   9266705
309  11/26/20   1509875  12949886   2237509    983588   9309787
310  11/27/20   1538217  13164520   2250283   1006394   9351109

In [14]:
df_plot.set_index('date')#.plot()

             Italy        US    France   Germany     India
date
1/22/20          0         1         0         0         0
1/23/20          0         1         0         0         0
1/24/20          0         2         2         0         0
1/25/20          0         2         3         0         0
1/26/20          0         5         3         0         0
1/27/20          0         5         3         1         0
1/28/20          0         5         4         4         0
1/29/20          0         6         5         4         0
1/30/20          0         6         5         4         1
1/31/20          2         8         5         5         1
2/1/20           2         8         6         8         1
2/2/20           2         8         6        10         2
2/3/20           2        11         6        12         3
2/4/20           2        11         6        12         3
2/5/20           2        11         6        12         3
2/6/20           2        12         6        12         3
2/7/20           3        12         6        13         3
2/8/20           3        12        11        13         3
2/9/20           3        12        11        14         3
2/10/20          3        12        11        14         3
2/11/20          3        13        11        16         3
2/12/20          3        13        11        16         3
2/13/20          3        14        11        16         3
2/14/20          3        14        11        16         3
2/15/20          3        14        12        16         3
2/16/20          3        14        12        16         3
2/17/20          3        14        12        16         3
2/18/20          3        14        12        16         3
2/19/20          3        14        12        16         3
2/20/20          3        14        12        16         3
2/21/20         20        16        12        16         3
2/22/20         62        16        12        16         3
2/23/20        155        16        12        16         3
2/24/20        229        16        12        16         3
2/25/20        322        16        14        16         3
2/26/20        453        16        18        21         3
2/27/20        655        17        38        26         3
2/28/20        888        17        57        53         3
2/29/20       1128        25       100        66         3
3/1/20        1694        32       130       117         3
3/2/20        2036        55       191       150         5
3/3/20        2502        74       212       188         5
3/4/20        3089       107       288       240        28
3/5/20        3858       184       426       349        30
3/6/20        4636       237       616       534        31
3/7/20        5883       403       948       684        34
3/8/20        7375       519      1125       847        39
3/9/20        9172       594      1411      1112        43
3/10/20      10149       782      1783      1296        56
3/11/20      12462      1147      2293      1567        62
3/12/20      15113      1586      2293      2369        73
3/13/20      17660      2219      3681      3062        82
3/14/20      21157      2978      4496      3795       102
3/15/20      24747      3212      4532      4838       113
3/16/20      27980      4679      6683      6012       119
3/17/20      31506      6512      7715      7156       142
3/18/20      35713      9169      9124      8198       156
3/19/20      41035     13663     10970     10999       194
3/20/20      47021     20030     12758     13957       244
3/21/20      53578     26025     14463     16662       330
3/22/20      59138     34944     16761     18610       396
3/23/20      63927     46096     20120     22672       499
3/24/20      69176     56714     22372     27436       536
3/25/20      74386     68841     25331     31554       657
3/26/20      80589     86662     29252     36508       727
3/27/20      86498    105253     33045     42288       887
3/28/20      92472    127417     37693     48582       987
3/29/20      97689    143544     40296     52547      1024
3/30/20     101739    165698     44645     57298      1251
3/31/20     105792    192079     52281     61913      1397
4/1/20      110574    223254     57125     67366      1998
4/2/20      115242    255530     59227     73522      2543
4/3/20      119827    287931     64452     79696      2567
4/4/20      124632    319776     47376     85778      3082
4/5/20      128948    349016     48225     91714      3588
4/6/20      132547    380798     50884     95391      4778
4/7/20      135586    410834     47395     99225      5311
4/8/20      139422    441897     51250    103228      5916
4/9/20      143626    477507     55034    108202      6725
4/10/20     147577    511790     56600    113525      7598
4/11/20     152271    540714     58045    117658      8446
4/12/20     156363    567022    108792    120479      9205
4/13/20     159516    594165    111933    123016     10453
4/14/20     162488    622493    129381    125098     11487
4/15/20     165155    648390    132588    127584     12322
4/16/20     168941    678028    145166    130450     13430
4/17/20     172434    711135    147057    133830     14352
4/18/20     175925    738464    150861    137439     15722
4/19/20     178972    763886    151955    139897     17615
4/20/20     181228    793970    154402    141672     18539
4/21/20     183957    820045    157068    143457     20080
4/22/20     187327    849926    158867    145694     21370
4/23/20     189973    881891    157158    148046     23077
4/24/20     192994    913856    159969    150383     24530
4/25/20     195351    944770    161647    152438     26283
4/26/20     197675    970741    162280    154175     27890
4/27/20     199414    995391    165966    155193     29451
4/28/20     201505   1019964    169098    156337     31324
4/29/20     203591   1046816    167643    157641     33062
4/30/20     205463   1076518    168861    159119     34863
5/1/20      207428   1111410    169387    160758     37257
5/2/20      209328   1138174    170179    161703     39699
5/3/20      210717   1161907    170540    162496     42505
5/4/20      211938   1185709    171102    163175     46437
5/5/20      213013   1209728    172219    163860     49400
5/6/20      214457   1234210    176355    164807     52987
5/7/20      215858   1261949    177096    166091     56351
5/8/20      217185   1289132    177627    167300     59695
5/9/20      218268   1313586    178155    168551     62808
5/10/20     219070   1332333    178404    169218     67161
5/11/20     219814   1351410    178719    169575     70768
5/12/20     221216   1374792    179472    170508     74292
5/13/20     222104   1394807    179993    171306     78055
5/14/20     223096   1420697    180635    172239     81997
5/15/20     223885   1445548    181148    173152     85784
5/16/20     224760   1469598    181563    173772     90648
5/17/20     225435   1488327    181703    174355     95698
5/18/20     225886   1510635    182147    174697    100328
5/19/20     226699   1531138    182648    175210    106475
5/20/20     227364   1553964    183129    176007    112028
5/21/20     228006   1579116    183396    176752    118226
5/22/20     228658   1602945    184152    177212    124794
5/23/20     229327   1623134    184698    177850    131423
5/24/20     229858   1643308    184259    178281    138536
5/25/20     230158   1662402    184584    178570    144950
5/26/20     230555   1681128    184839    179002    150793
5/27/20     231139   1699891    185012    179364    158086
5/28/20     231732   1721158    188355    179717    165386
5/29/20     232248   1746240    188949    180458    173491
5/30/20     232664   1769320    190743    181196    181827
5/31/20     232997   1788239    190975    181482    190609
6/1/20      233197   1806079    191382    181815    198370
6/2/20      233515   1826169    190735    182028    207191
6/3/20      233836   1845325    187509    182370    216824
6/4/20      234013   1873259    191869    182764    226713
6/5/20      234531   1899699    192450    183271    236184
6/6/20      234801   1919968    193022    183678    246622
6/7/20      234998   1937794    193363    183979    257486
6/8/20      235278   1954694    193637    184193    265928
6/9/20      235561   1975015    194190    184543    276146
6/10/20     235763   1996733    194815    184861    286605
6/11/20     236142   2019011    195179    185416    297535
6/12/20     236305   2044569    195980    185674    308993
6/13/20     236651   2068726    196477    186022    320922
6/14/20     236989   2087627    196867    186269    332424
6/15/20     237290   2108626    197003    186461    343091
6/16/20     237500   2133175    197666    186839    354065
6/17/20     237828   2160225    198155    187184    366946
6/18/20     238159   2188452    198741    187764    380532
6/19/20     238011   2219506    199528    188534    395048
6/20/20     238275   2251332    200147    189135    410451
6/21/20     238499   2277168    200490    189822    425282
6/22/20     238720   2306969    200632    190359    440215
6/23/20     238833   2345698    201330    190862    456183
6/24/20     239410   2381949    201598    191449    473105
6/25/20     239706   2421248    201853    192079    490401
6/26/20     239961   2470294    203116    192556    508953
6/27/20     240136   2511048    203564    193243    528859
6/28/20     240310   2553973    203157    193499    548318
6/29/20     240436   2595268    203802    193761    566840
6/30/20     240578   2645092    204244    194259    585481
7/1/20      240760   2694215    205234    194725    604641
7/2/20      240961   2749158    205773    195228    625544
7/3/20      241184   2800662    206312    195674    648315
7/4/20      241419   2846607    206670    196096    673165
7/5/20      241611   2900335    206682    196335    697413
7/6/20      241819   2943500    207700    196554    719664
7/7/20      241956   3000731    208154    196944    742417
7/8/20      242149   3061037    208976    197341    767296
7/9/20      242363   3120693    209420    197783    793802
7/10/20     242639   3189552    210135    198178    820916
7/11/20     242827   3249991    210386    198556    849522
7/12/20     243061   3310123    210402    198804    878254
7/13/20     243230   3369487    211825    198963    906752
7/14/20     243344   3435149    211887    199375    936181
7/15/20     243506   3501175    212614    199726    968857
7/16/20     243736   3571989    213183    200260   1003832
7/17/20     243967   3638461    214009    200843   1039084
7/18/20     244216   3702783    214174    201372   1077781
7/19/20     244434   3761715    214178    201574   1118206
7/20/20     244624   3822378    216089    201823   1155338
7/21/20     244752   3890572    216684    202345   1193078
7/22/20     245032   3958117    217605    202799   1238798
7/23/20     245338   4026003    218841    203368   1288108
7/24/20     245590   4101150    219932    204183   1337024
7/25/20     245864   4165350    220016    204964   1385635
7/26/20     246118   4221189    220020    205269   1435616
7/27/20     246286   4280913    222508    205609   1480073
7/28/20     246488   4345743    223072    206242   1531669
7/29/20     246776   4409871    224542    206926   1581963
7/30/20     247158   4479112    225936    207828   1634746
7/31/20     247537   4543688    227239    208698   1695988
8/1/20      247832   4601266    227301    209653   1750723
8/2/20      248070   4648375    227304    209893   1803695
8/3/20      248229   4690059    230665    210402   1855745
8/4/20      248419   4751716    231636    211281   1908254
8/5/20      248803   4806064    233344    212022   1964536
8/6/20      249204   4866244    234945    213067   2027074
8/7/20      249756   4926831    237332    214214   2088611
8/8/20      250103   4990764    237402    215336   2153010
8/9/20      250566   5045031    237408    215891   2215074
8/10/20     250825   5096648    242168    216327   2268675
8/11/20     251237   5153603    243576    217293   2329638
8/12/20     251713   5208847    246180    218519   2396637
8/13/20     252235   5260503    248850    219964   2461190
8/14/20     252809   5330628    251764    221413   2525922
8/15/20     253438   5383023    254974    222828   2589952
8/16/20     253915   5417685    257994    223453   2647663
8/17/20     254235   5455534    258629    224014   2702681
8/18/20     254636   5500436    260748    225404   2767253
8/19/20     255278   5546320    264535    226914   2836925
8/20/20     256118   5591448    269335    228621   2905825
8/21/20     257065   5639039    274289    230048   2975701
8/22/20     258136   5684712    277763    232082   3044940
8/23/20     259345   5716623    282498    232864   3106348
8/24/20     260298   5750546    284474    233575   3167323
8/25/20     261174   5793219    288067    234853   3224547
8/26/20     262540   5835292    288354    236429   3310234
8/27/20     263949   5885810    299580    237936   3387500
8/28/20     265409   5932280    307205    239507   3463972
8/29/20     266853   5975383    312665    240986   3542733
8/30/20     268218   6009514    318047    241771   3621245
8/31/20     269214   6042876    321160    242381   3691166
9/1/20      270189   6084854    326264    243599   3769523
9/2/20      271515   6124815    333351    244855   3853406
9/3/20      272912   6169955    340473    246166   3936747
9/4/20      274644   6218289    349333    247619   4023179
9/5/20      276338   6261912    357927    248997   4113811
9/6/20      277634   6291031    364943    249985   4204613
9/7/20      278784   6315594    369209    250799   4280422
9/8/20      280153   6342338    375947    252298   4370128
9/9/20      281583   6375976    384546    253474   4465863
9/10/20     283180   6415424    394308    255366   4562414
9/11/20     284796   6460047    403837    256850   4659984
9/12/20     286297   6505630    415174    258480   4754356
9/13/20     287753   6545921    421519    259428   4846427
9/14/20     288761   6578485    427839    260355   4930236
9/15/20     289990   6615663    435665    261762   5020359
9/16/20     291442   6653955    445932    263663   5118253
9/17/20     293025   6699274    456171    265857   5214677
9/18/20     294932   6749458    469404    267773   5308014
9/19/20     296569   6795236    482964    270070   5400619
9/20/20     298156   6836846    493500    271415   5487580
9/21/20     299506   6868889    499039    272337   5562663
9/22/20     300897   6907160    509123    274158   5646010
9/23/20     302537   6948280    522355    275927   5732518
9/24/20     304323   6997163    538264    278070   5818570
9/25/20     306235   7044299    554368    280223   5903932
9/26/20     308104   7087846    568588    282730   5992532
9/27/20     309870   7121625    579223    284140   6074702
9/28/20     311364   7159365    583522    285332   6145291
9/29/20     313011   7201398    591527    287421   6225763
9/30/20     314861   7240029    605893    289219   6312584
10/1/20     317409   7286273    618918    291722   6394068
10/2/20     319908   7339716    631354    294395   6473544
10/3/20     322751   7388997    647868    296958   6549373
10/4/20     325329   7422128    660372    299237   6623815
10/5/20     327586   7459485    666011    300619   6685082
10/6/20     330263   7504030    677321    303258   6757131
10/7/20     333940   7553167    696274    306086   6835655
10/8/20     338398   7611057    713676    310144   6906151
10/9/20     343770   7666136    734707    314660   6979423
10/10/20    349494   7721502    761384    319381   7053806
10/11/20    354950   7768402    777378    322864   7120538
10/12/20    359569   7810482    786590    325331   7175880
10/13/20    365467   7860605    800216    329453   7239389
10/14/20    372799   7919047    823181    334585   7307097
10/15/20    381602   7982584    852938    341223   7370468
10/16/20    391611   8052758    878572    348557   7432680
10/17/20    402536   8107590    910711    356387   7494551
10/18/20    414241   8159760    940548    361974   7550273
10/19/20    423578   8227642    954838    366299   7597063
10/20/20    434449   8289379    975214    373167   7651107
10/21/20    449648   8350085   1002624    380762   7706946
10/22/20    465726   8429706   1043437    392049   7761312
10/23/20    484869   8511366   1086286    403291   7814682
10/24/20    504509   8589741   1131551    418005   7864811
10/25/20    525782   8650716   1138167    429181   7909959
10/26/20    542789   8715280   1211177    437866   7946429
10/27/20    564778   8792503   1245635    449275   7990322
10/28/20    589766   8878980   1283185    464239   8040203
10/29/20    616595   8970273   1329821    481013   8088851
10/30/20    647674   9070122   1379295    499694   8137119
10/31/20    679430   9157465   1414396    518753   8184082
11/1/20     709335   9235295   1460575    532930   8229313
11/2/20     731588   9317102   1566666    545027   8267623
11/3/20     759829   9441868   1639267    560379   8313876
11/4/20     790377   9542130   1593146    577593   8364086
11/5/20     824879   9670211   1650966    597583   8411724
11/6/20     862681   9797267   1711918    619089   8462080
11/7/20     902490   9924331   1798573    642488   8507754
11/8/20     935104  10044004   1837135    658505   8553657
11/9/20     960373  10160960   1858559    671868   8591730
11/10/20    995463  10297512   1881172    687200   8636011
11/11/20   1028424  10445194   1917578    705687   8683916
11/12/20   1066401  10603990   1950136    727553   8728795
11/13/20   1107303  10783508   1974271    751095   8773479
11/14/20   1144552  10947558   2006228    773556   8814579
11/15/20   1178529  11087273   2033420    790503   8845127
11/16/20   1205881  11240360   2043470    801327   8874290
11/17/20   1238072  11405007   2089073    815746   8912907
11/18/20   1272352  11576977   2117917    833307   8958483
11/19/20   1308528  11769278   2138706    855916   9004365
11/20/20   1345767  11970947   2161970    879564   9050597
11/21/20   1380531  12150765   2179640    902528   9095806
11/22/20   1408868  12297352   2192770    918269   9139865
11/23/20   1431795  12478864   2197832    929133   9177840
11/24/20   1455022  12652424   2207753    942687   9222216
11/25/20   1480874  12832636   2224508    961320   9266705
11/26/20   1509875  12949886   2237509    983588   9309787
11/27/20   1538217  13164520   2250283   1006394   9351109
11/28/20   1564532  13332744   2262760   1028089   9392919
11/29/20   1585178  13473094   2272523   1042700   9431691
11/30/20   1601554  13628010   2276830   1053869   9462809
12/1/20    1620901  13825125   2285273   1067473   9499413
12/2/20    1641610  14021288   2299501   1084743   9534964
12/3/20    1664829  14241509   2312288   1106789   9571559
12/4/20    1688939  14476879   2323799   1130238   9608211
12/5/20    1709991  14698889   2336681   1153556   9644222
12/6/20    1728878  14878214   2347630   1171323   9677203
12/7/20    1742557  15073674   2351041   1183655   9703770
12/8/20    1757394  15300731   2365085   1197709   9735850
12/9/20    1770149  15516738   2379760   1218524   9767371
12/10/20   1787147  15753682   2393632   1242203   9796744
12/11/20   1805873  15992585   2407121   1272078   9826775
12/12/20   1825775  16217119   2421068   1300516   9857029
12/13/20   1843712  16408717   2432601   1320716   9884100
12/14/20   1855737  16618545   2435793   1337078   9906165
12/15/20   1870576  16844860   2447518   1351510   9932547
12/16/20   1888144  17079664   2465238   1379238   9956557
12/17/20   1906377  17319910   2483636   1406161   9979447
12/18/20   1921778  17567855   2499511   1439938  10004599
12/19/20   1938083  17773707   2516939   1471238  10031223
12/20/20   1953185  17960902   2529797   1494009  10055560
12/21/20   1964054  18157760   2535757   1510652  10075116
12/22/20   1977370  18363691   2547618   1530180  10099066
12/23/20   1991278  18585131   2562604   1554920  10123778

**Date data type**

In [15]:
type(df_plot.date[0])

str

In [16]:
df_plot.head() #dates are in USA std not in ISO std

      date  Italy  US  France  Germany  India
0  1/22/20      0   1       0        0      0
1  1/23/20      0   1       0        0      0
2  1/24/20      0   2       2        0      0
3  1/25/20      0   2       3        0      0
4  1/26/20      0   5       3        0      0

In [17]:
df_plot.date[0] #month/date/year

'1/22/20'

In [18]:
datetime.strptime(df_plot.date[0],"%m/%d/%y")  #strptime() -> convert string to date object (parse time)

datetime.datetime(2020, 1, 22, 0, 0)

In [19]:
time_idx=[datetime.strptime(each,"%m/%d/%y") for each in df_plot.date] #conver to datetime obj

In [20]:
time_idx[0:5]

[datetime.datetime(2020, 1, 22, 0, 0),
 datetime.datetime(2020, 1, 23, 0, 0),
 datetime.datetime(2020, 1, 24, 0, 0),
 datetime.datetime(2020, 1, 25, 0, 0),
 datetime.datetime(2020, 1, 26, 0, 0)]

In [21]:
time_str=[each.strftime('%y-%m-%d') for each in time_idx] #convert back date ISO norm to string. Also can be used as text and read by excel,powerbi. 
time_str[0:5]                                                  # strftime()-> formatting time

['20-01-22', '20-01-23', '20-01-24', '20-01-25', '20-01-26']

In [22]:
df_plot['date']=time_idx
type(df_plot['date'][0])  #type is Timestamp

pandas._libs.tslibs.timestamps.Timestamp

In [23]:
df_plot.head()

        date  Italy  US  France  Germany  India
0 2020-01-22      0   1       0        0      0
1 2020-01-23      0   1       0        0      0
2 2020-01-24      0   2       2        0      0
3 2020-01-25      0   2       3        0      0
4 2020-01-26      0   5       3        0      0

In [24]:
type(df_plot.date[0])

pandas._libs.tslibs.timestamps.Timestamp

In [25]:
df_plot.to_csv('../data/processed/COVID_small_flat_table.csv', sep=';',index=False) #finally saving the data model as csv file inside processed folder. sep-> seperator in germany ';'

**NOTE:**<br>
COVID_small_flat_table.csv is not complete data model. But a good starting point for initial analysis and can be used for ploting

# Relational Data Model- defining a primary key

In the relational model of databases, a primary key is a specific choice of a minimal set of attributes (columns) that uniquely specify a tuple (row) in a relation (table) 

A primary key’s main features are:

1.It must contain a unique value for each row of data.<br>
2.It cannot contain null values.

In [26]:
data_path='../data/raw/COVID-19/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'
pd_raw=pd.read_csv(data_path)
pd_raw.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/29/22,5/30/22,5/31/22,6/1/22,6/2/22,6/3/22,6/4/22,6/5/22,6/6/22,6/7/22
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,180174,180259,180347,180419,180520,180584,180615,180615,180688,180741
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,276101,276101,276101,276221,276221,276310,276342,276401,276415,276468
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,265873,265877,265884,265887,265889,265889,265889,265897,265900,265904
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,42894,42894,42894,42894,42894,43067,43067,43067,43067,43067
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,99527,99761,99761,99761,99761,99761,99761,99761,99761,99761

**NOTE:**<br>
Latitude(Lat) and Longitude(Long): Master data (do not change) #remove

The Dates: Transaction data(do change)

In [27]:
pd_data_base = pd_raw.rename(columns ={'Country/Region':'country',
                                      'Province/State':'state'})


pd_data_base = pd_data_base.drop(['Lat','Long'],axis=1)
pd_data_base.head()

,state,country,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,5/29/22,5/30/22,5/31/22,6/1/22,6/2/22,6/3/22,6/4/22,6/5/22,6/6/22,6/7/22
0,NaN,Afghanistan,0,0,0,0,0,0,0,0,...,180174,180259,180347,180419,180520,180584,180615,180615,180688,180741
1,NaN,Albania,0,0,0,0,0,0,0,0,...,276101,276101,276101,276221,276221,276310,276342,276401,276415,276468
2,NaN,Algeria,0,0,0,0,0,0,0,0,...,265873,265877,265884,265887,265889,265889,265889,265897,265900,265904
3,NaN,Andorra,0,0,0,0,0,0,0,0,...,42894,42894,42894,42894,42894,43067,43067,43067,43067,43067
4,NaN,Angola,0,0,0,0,0,0,0,0,...,99527,99761,99761,99761,99761,99761,99761,99761,99761,99761

**Now construction of Primary Key with date, state and country**

In [28]:
pd_data_base.set_index(['state','country']) #set state and country as index

                                                                               1/22/20  \
state                                        country
NaN                                          Afghanistan                             0
                                             Albania                                 0
                                             Algeria                                 0
                                             Andorra                                 0
                                             Angola                                  0
                                             Antarctica                              0
                                             Antigua and Barbuda                     0
                                             Argentina                               0
                                             Armenia                                 0
Australian Capital Territory                 Australia                               0
New South Wales                              Australia                               0
Northern Territory                           Australia                               0
Queensland                                   Australia                               0
South Australia                              Australia                               0
Tasmania                                     Australia                               0
Victoria                                     Australia                               0
Western Australia                            Australia                               0
NaN                                          Austria                                 0
                                             Azerbaijan                              0
                                             Bahamas                                 0
                                             Bahrain                                 0
                                             Bangladesh                              0
                                             Barbados                                0
                                             Belarus                                 0
                                             Belgium                                 0
                                             Belize                                  0
                                             Benin                                   0
                                             Bhutan                                  0
                                             Bolivia                                 0
                                             Bosnia and Herzegovina                  0
                                             Botswana                                0
                                             Brazil                                  0
                                             Brunei                                  0
                                             Bulgaria                                0
                                             Burkina Faso                            0
                                             Burma                                   0
                                             Burundi                                 0
                                             Cabo Verde                              0
                                             Cambodia                                0
                                             Cameroon                                0
Alberta                                      Canada                                  0
British Columbia                             Canada                                  0
Diamond Princess                             Canada                                  0
Grand Princess                               Canada                                  0
Manitoba                                     Canada                                  0
New Brunswick                                Canada                                  0
Newfoundland and Labrador                    Canada                                  0
Northwest Territories                        Canada                                  0
Nova Scotia                                  Canada                                  0
Nunavut                                      Canada                                  0
Ontario                                      Canada                                  0
Prince Edward Island                         Canada                                  0
Quebec                                       Canada                                  0
Repatriated Travellers                       Canada                                  0
Saskatchewan                                 Canada                                  0
Yukon                                        Canada                                  0
NaN                                          Central African Republic                0
                                             Chad                                    0
                                             Chile                                   0
Anhui                                        China                                   1
Beijing                                      China                                  14
Chongqing                                    China                                   6
Fujian                                       China                                   1
Gansu                                        China                                   0
Guangdong                                    China                                  26
Guangxi                                      China                                   2
Guizhou                                      China                                   1
Hainan                                       China                                   4
Hebei                                        China                                   1
Heilongjiang                                 China                                   0
Henan                                        China                                   5
Hong Kong                                    China                                   0
Hubei                                        China                                 444
Hunan                                        China                                   4
Inner Mongolia                               China                                   0
Jiangsu                                      China                                   1
Jiangxi                                      China                                   2
Jilin                                        China                                   0
Liaoning                                     China                                   2
Macau                                        China                                   1
Ningxia                                      China                                   1
Qinghai                                      China                                   0
Shaanxi                                      China                                   0
Shandong                                     China                                   2
Shanghai                                     China                                   9
Shanxi                                       China                                   1
Sichuan                                      China                                   5
Tianjin                                      China                                   4
Tibet                                        China                                   0
Unknown                                      China                                   0
Xinjiang                                     China                                   0
Yunnan                                       China                                   1
Zhejiang                                     China                                  10
NaN                                          Colombia                                0
                                             Comoros                                 0
                                             Congo (Brazzaville)                     0
                                             Congo (Kinshasa)                        0
                                             Costa Rica                              0
                                             Cote d'Ivoire                           0
                                             Croatia                                 0
                                             Cuba                                    0
                                             Cyprus                                  0
                                             Czechia                                 0
Faroe Islands                                Denmark                                 0
Greenland                                    Denmark                                 0
NaN                                          Denmark                                 0
                                             Diamond Princess                        0
                                             Djibouti                                0
                                             Dominica                                0
                                             Dominican Republic                      0
                                             Ecuador                                 0
                                             Egypt                                   0
                                             El Salvador                             0
                                             Equatorial Guinea                       0
                                             Eritrea                                 0
                                             Estonia                                 0
                                             Eswatini                                0
                                             Ethiopia                                0
                                             Fiji                                    0
                                             Finland                                 0
French Guiana                                France                                  0
French Polynesia                             France                                  0
Guadeloupe                                   France                                  0
Martinique                                   France                                  0
Mayotte                                      France                                  0
New Caledonia                                France                                  0
Reunion                                      France                                  0
Saint Barthelemy                             France                                  0
Saint Pierre and Miquelon                    France                                  0
St Martin                                    France                                  0
Wallis and Futuna                            France                                  0
NaN                                          France                                  0
                                             Gabon                                   0
                                             Gambia                                  0
                                             Georgia                                 0
                                             Germany                                 0
                                             Ghana                                   0
                                             Greece                                  0
                                             Grenada                                 0
                                             Guatemala                               0
                                             Guinea                                  0
                                             Guinea-Bissau                           0
                                             Guyana                                  0
                                             Haiti                                   0
                                             Holy See                                0
                                             Honduras                                0
                                             Hungary                                 0
                                             Iceland                                 0
                                             India                                   0
                                             Indonesia                               0
                                             Iran                                    0
                                             Iraq                                    0
                                             Ireland                                 0
                                             Israel                                  0
                                             Italy                                   0
                                             Jamaica                                 0
                                             Japan                                   2
                                             Jordan                                  0
                                             Kazakhstan                              0
                                             Kenya                                   0
                                             Kiribati                                0
                                             Korea, North                            0
                                             Korea, South                            1
                                             Kosovo                                  0
                                             Kuwait                                  0
                                             Kyrgyzstan                              0
                                             Laos                                    0
                                             Latvia                                  0
                                             Lebanon                                 0
                                             Lesotho                                 0
                                             Liberia                                 0
                                             Libya                                   0
                                             Liechtenstein                           0
                                             Lithuania                               0
                                             Luxembourg                              0
                                             MS Zaandam                              0
                                             Madagascar                              0
                                             Malawi                                  0
                                             Malaysia                                0
                                             Maldives                                0
                                             Mali                                    0
                                             Malta                                   0
                                             Marshall Islands                        0
                                             Mauritania                              0
                                             Mauritius                               0
                                             Mexico                                  0
                                             Micronesia                              0
                                             Moldova                                 0
                                             Monaco                                  0
                                             Mongolia                                0
                                             Montenegro                              0
                                             Morocco                                 0
                                             Mozambique                              0
                                             Namibia                                 0
                                             Nepal                                   0
Aruba                                        Netherlands                             0
Bonaire, Sint Eustatius and Saba             Netherlands                             0
Curacao                                      Netherlands                             0
Sint Maarten                                 Netherlands                             0
NaN                                          Netherlands                             0
Cook Islands                                 New Zealand                             0
NaN                                          New Zealand                             0
                                             Nicaragua                               0
                                             Niger                                   0
                                             Nigeria                                 0
                                             North Macedonia                         0
                                             Norway                                  0
                                             Oman                                    0
                                             Pakistan                                0
                                             Palau                                   0
                                             Panama                                  0
                                             Papua New Guinea                        0
                                             Paraguay                                0
                                             Peru                                    0
                                             Philippines                             0
                                             Poland                                  0
                                             Portugal                                0
                                             Qatar                                   0
                                             Romania                                 0
                                             Russia                                  0
                                             Rwanda                                  0
                                             Saint Kitts and Nevis                   0
                                             Saint Lucia                             0
                                             Saint Vincent and the Grenadines        0
                                             Samoa                                   0
                                             San Marino                              0
                                             Sao Tome and Principe                   0
                                             Saudi Arabia                            0

In [29]:
#pd_data_base.set_index(['state','country']).T #transposed inoder to have dates in time dimension

In [30]:
test_pd = pd_data_base.set_index(['state','country']).T

In [31]:
#test_pd.columns

In [32]:
test_pd.stack(level=[0,1]).reset_index() #to bring multidimension columns to row based

        level_0              state      country         0
0       1/22/20                NaN  Afghanistan       0.0
1       1/22/20                NaN      Albania       0.0
2       1/22/20                NaN      Algeria       0.0
3       1/22/20                NaN      Andorra       0.0
4       1/22/20                NaN       Angola       0.0
...         ...                ...          ...       ...
247375   6/7/22  Western Australia    Australia  789196.0
247376   6/7/22           Xinjiang        China    1008.0
247377   6/7/22              Yukon       Canada    4403.0
247378   6/7/22             Yunnan        China    2154.0
247379   6/7/22           Zhejiang        China    3139.0

[247380 rows x 4 columns]

In [33]:
pd_test_model=test_pd.rename(columns={'level_0':'date',
                         0:'confirmed'})

In [ ]:
pd_test_model

In [ ]:
pd_relational_model=pd_data_base.set_index(['state','country']) \
                                .T                              \
                                .stack(level=[0,1])             \
                                .reset_index()                  \
                                .rename(columns={'level_0':'date',
                                                0:'confirmed'})
pd_relational_model.head()

In [ ]:
pd_relational_model.dtypes

In [ ]:
pd_relational_model['date'] = pd_relational_model.date.astype('datetime64[ns]') #convert date which is till a str type to datetime type

In [ ]:
pd_relational_model.dtypes

In [ ]:
df_plot.to_csv('../data/processed/COVID_relational_confirmed.csv', sep=';')